@media (min-width: 768px) {


    header {
        background-color: var(--orange-accents_light);
      
      }


    .header__left {
        display: none;
      }
      
      .header__right--nav {
        display: flex;
      }
      
      





    /* Start Hero Section */


    .section__hero::before {
        display: flex;
    }


    .section__hero--container {
        grid-template-columns: 1fr 1fr;
        padding: 6rem 2rem;
        gap: 4rem;
    }



 
  
  /* End Hero Section */
















  .section__about--container {
    grid-template-columns: repeat(2, 1fr);
  }


}



@media (min-width: 991px) {

    .header__right--search {
        display: flex;
      }
      

    /* Start Hero Section */


      .section__hero--container {
        padding: 8rem 2rem 6rem;
    }
    
    /* End Hero Section */








    /* Start About Section */

    .section__about--info {
      padding-right: 4rem;
    }
  
    /* End About Section */


}





